.part-browser .bip-component-type-decorator {
  width: 130px; }
  .part-browser .bip-component-type-decorator .name {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0;
    margin-bottom: 0; }
  .part-browser .bip-component-type-decorator .cardinality {
    font-size: 11px;
    min-width: 20px;
    width: 20px;
    position: static; }
