/**
 * This file is for any scss that you may want for this visualizer.
 */
.b-i-p-code-editor {
  outline: none;
  padding: 2px; }
  .b-i-p-code-editor .code-editor {
    height: 100%;
    width: 100%; }
  .b-i-p-code-editor .read-only-code {
    opacity: 0.5; }

